body, html {
  height: 100%;
  
}

.background { 
  /* Photo by Nathan Anderson */ 
  background-image: url("https://github.com/sbhsscioly/sbhsscioly.github.io/blob/master/images/nightsky-2.jpg?raw=true");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
}

.text-block {
  position: absolute !important; 
  bottom: 1.5rem !important;  
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
