body, html {
  height: 100%;
  
}

.background { 
  /* Photo by Benjamin Voros */ 
  background-image: url("https://github.com/sbhsscioly/sbhsscioly.github.io/blob/master/images/mountain.jpg?raw=true");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
}

#text-block-1 {
  position: absolute !important; 
  bottom: 1.5rem !important;  
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
