body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #c0ffb5; 
  margin: 0;
}

#welcomeTitle {
  color: #4E92DF;
  font-size: 30pt;
}

#mainDescription {
 font-size: 20pt; 
}
p {
  color: DimGray;
}

.navbar {
 color: DodgerBlue;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#question {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: red;
}
#question1 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: red;
}
#question2 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: red;
}
#question3 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: red;
}
#question4 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: red;
}
#answer {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: green
}
#answer1 {
font-family: "Open Sans", helvetica, arial, sans-serif;
color: green
}
#answer2 {
font-family: "Open Sans", helvetica, arial, sans-serif;
color: green;
}
#answer3 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: green;
}
#answer4 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 color: green;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navitem {
  float: left;
}

.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover {
  background-color: #111;
}

.contact {
list-style-type: none;
}
