body, html {
  height: 100%;
}

.background { 
  /* Photo by Benjamin Voros */ 
  background-image: url("https://github.com/sbhsscioly/sbhsscioly.github.io/blob/master/images/mountain.jpg?raw=true");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: relative;
}

.text-block {
  position: absolute; 
  bottom: 20px;   
}

.text-block-white {
   position: absolute; 
    top: 40px;
  background: white;
  
}
