body, html {
  height: 100%;  
}

.background { 
  /* Photo by Nathan Anderson */ 
  background-image: url("https://github.com/sbhsscioly/sbhsscioly.github.io/blob/master/images/nightsky-2.jpg?raw=true");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: relative;
}

@media (max-width: 767.98px) { 
  
  #interest-form {
   width: 100%;
   height: 165vh; 
  }
  
  #resources-video {
    width: 100%;
    height: 56.25%;
  }
}

@media (min-width: 768px) {
  
  #interest-form{
    width: 640px;
    height: 1057px;
  }
  
  #resources-video {
    width: 560px;
    height: 315px;
  }
}
