body, html {
  height: 100%;
}

.bg { 
  /* Photo by Benjamin Voros */ 
  background-image: url("https://cdn.glitch.com/322d141a-2633-46f3-b466-8f3e4a3ecb28%2Fmountain.jpg?1555461845030");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
