.background { 
  /* Photo by Nathan Anderson */ 
  background-image: url("https://github.com/sbhsscioly/sbhsscioly.github.io/blob/master/images/nightsky-2.jpg?raw=true");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: relative;
}
